body {
	width:0 auto;
	display:block;
	text-align:left;
	font: 12pt Helvetica, Arial, Verdana, sans-serif;
	background-color: rgb(22,22,22);
	color:#F3F3F3;
}

h1{
	color: rgb(138,170,178);
	text-shadow: 2px 2px 2px rgb(76,76,75);
}
a{
	color: #bbb;
}
a:hover{
	color: rgb(237,94,17);
}
img{
	-webkit-border-radius:2px;
	-moz-border-radius:2px;
	-webkit-box-shadow: 0 0 5px #888;
	-moz-box-shadow: 0 0 5px #888;
	box-shadow: 0 0 5px #888;
}
ul li{
	list-style: none;
	margin-left:0em;
}
#_sidebar{
	position:fixed;
	left:1px;
	top:4em;
	font-size:14pt;
}

#content{
	width:700px;
	margin:0 auto;
	line-height:1.25em;
}
.hidden{
	display:none;
}
