body {
	width:0 auto;
	display:block;
	text-align:left;
	font: 12pt Helvetica, Arial, Verdana, sans-serif;
	background-color: rgb(44,44,44);
	color:#F3F3F3;
	padding-top:60px;
}
p{
	font-size:12pt;
}
h1{
	color: rgb(138,170,178);
	text-shadow: 2px 2px 2px rgb(76,76,75);
}
a{
	color: #bbb;
}
a:hover{
	color: rgb(237,94,17);
}
img{
	-webkit-border-radius:2px;
	-moz-border-radius:2px;
	-webkit-box-shadow: 0 0 5px #888;
	-moz-box-shadow: 0 0 5px #888;
	box-shadow: 0 0 5px #888;
}
ul li{
	list-style: none;
	margin-left:0em;
}
#content{
 	width:700px;
	margin:0 auto;
}
.hidden{
	display:none;
}
